{% extends 'meraki_app/base.html' %}

{% block merakiweb %}
<header>
    <div class="container mt-5">
        <h1>Resultados de búsqueda</h1>
        {% if inventario %}
        <div class="table-wrapper">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID#</th>
                        <th>Nombre de producto</th>
                        <th>Descripción</th>
                        <th>Stock disponible</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in inventario %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>
                            {% with producto.stock_set.last as stock %}
                                {% if stock %}
                                    {{ stock.cantidad }}
                                {% else %}
                                    Sin stock
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            {% with producto.precio_set.last as precio %}
                                {% if precio %}
                                    ${{ precio.precio }}
                                {% else %}
                                    Sin precio
                                {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No se encontraron productos.</p>
        {% endif %}
    </div>
</header>
{% endblock %}